# Default values for zalando-psql-db.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

service:
  name: postgresql
  team_id: acid

postgresql:
  version: 12
  replicas: 2
  databases:
  - name: database1
    user: foo1
    roles: 
    - superuser
    - createdb
  - name: database2
    user: foo2
    roles: 
    - superuser
    - createdb

volume:
  size: 1Gi

resources:
  cpu_request: 500m
  cpu_limit: 500m
  memory_request: 256Mi
  memory_limit: 512Mi
